<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="">
        <!-- Facebook -->
        <div class="col-auto">
          <!-- Submit button -->
          <button type="submit" (click)="goHome()" class="btn btn-dark mb-4">
            Home
          </button>
        </div>
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">AutShopping</a>
    </div>
    <!-- Copyright -->
  </footer>
