<!-- <form> -->
    <!-- <div class="form-group">
        <fieldset class="form-group">

            <label class="mt-2">Add image</label>
            {{imageError}} -->
            <!-- <div class="input-file">
                <input  [type]='type' style="background: goldenrod;"
                 [readOnly]="!!isReadOnly" [(ngModel)]="value" (change)="fileChangeEvent($event)" class="fileInputProfile" >
                <img class="img-fluid img-thumbnail image" *ngIf="image" [src]={{image}}> -->

                    <!-- <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img [src]="cardImageBase64" />
                    </ng-container>
                    <ng-template #elseTemplate>

                        <fa-icon icon="camera"  size="6x" class="img-responsive"></fa-icon>
                    </ng-template> -->

                <!-- </div>

            </div> -->
        <!-- </fieldset>
    </div> -->
    <!-- <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a> -->
<!-- </form> -->

