
<div class="container-fluid w-100 h-100 d-flex justify-content-center align-items-center">
    <form [formGroup]="clientForm" ng-controller="appCtrl as vm">
        <div class = 'container-fluid'>
            <div class="row rowClient text-light">
                <div class="mb-3">
                    <label for="nombre" class="form-label">User</label>
                    <input type="text" formControlName="name" class="form-control" id="nombre" >
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                 <input type="checkbox" [ngModelOptions]="{standalone: true}"  [(ngModel)]="quiereContact"  class="form-check-input" id="proporcionaDatos"> 
                <label class="form-check-label" for="proporcionaDatos">¿Do you want contact?</label>
                </div>
                <div class="mb-3" *ngIf="quiereContact">
                    <label for="correo" class="form-label"> Email</label>
                    <input type="email" formControlName="email" class="form-control" id="correo" aria-describedby="correoHelp">
                    <div id="correoHelp" class="form-text">Nunca compartiremos tu correo con nadie.                        
                    </div>
                </div>
                <div class="mb-3" *ngIf="quiereContact">
                    <label for="telefono" class="form-label">phone Number</label>
                    <input type="number"formControlName="phoneNumber" class="form-control" id="telefono" aria-describedby="telefonoHelp">
                    <div id="telefonoHelp" class="form-text">Tu teléfono está seguro con nosotros                        
                    </div>
                </div>
                <div class="d-md-block">
                <button class="btn btn-warning "  type="button" (click)="register()">Register</button>
                </div>     
            </div>
        </div>
    </form>
    
</div>
