.card-body{
    background-image: linear-gradient(to right top, #d20719, #ca3c39, #bd5754, #ab6d6c, #938181);
    backdrop-filter: blur(30px);
    box-shadow: 10px 20px 15px 10px rgb(26 72 100 / 40%);
    opacity: 0.8;
}