<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3 text-center titulo-principal">Cars List</span>
            <div class="row">
              <div class="col-md-12">
                <label>Filter by name:</label>
              </div>
              <div class=" col-md-4"><input class="filter" type="text" name ="filterPost" [(ngModel)] = "filterPost"></div>
            </div>
            <div>
            <button class="btn-dark btn mt-2" style="color:goldenrod ;" (click)="viewImage()" >{{seeImage ? "Hidden " : "View "}} Image</button>
            <button (click)="goAdd()" class="btn-dark btn mt-2 float-end" style="color:goldenrod ;" >Add Car</button>
            </div>
           
            <table *ngIf ="listCar.length > 0" class="table table-striped mt-2">
                <thead>
                  <tr>
                    <th >Image</th>
                    <th >Name</th>
                    <th >Brand</th>
                    <th >Model</th>
                    <th >Characteristics</th>
                    <th >Motor</th>
                    <th >Price</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let car of listCar | pipes : filterPost">
                    <td ><img class="imageCar" *ngIf="seeImage" [src]="url + car.file"></td>
                    <td>{{car.name}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.characteristics}}</td>
                    <td>{{car.motor}}</td>
                    <td>{{car.price | currency:'USD'}}</td>
                    <td>
                        <fa-icon [routerLink]="['/editCar',car._id ]" class="text-info" icon="pen"></fa-icon>
                        <fa-icon (click)="deleteCar(car._id)" class="text-danger" icon="trash" ></fa-icon> 
                    </td>     
                  </tr>
                 
                </tbody>
              </table>
             
              <h5 style="text-align:start; margin-top:10px ;" *ngIf ="listCar.length == 0">There are not cars to show</h5>

        </div>
    </div>
</div>
